// colors
$primary-color: hsl(180, 29%, 50%);
$background-color: hsl(180, 52%, 96%);
$list-item-color: #fff;
$tags-color: hsl(180, 31%, 95%) ;
$secondary-color: hsl(180, 8%, 52%);
$tertiary-color: hsl(180, 14%, 20%);

// style
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
$border-radius: 4px;

// font
$font-family: 'Spartan';
$font-size: 15px;
$title-size: 18px;
$font-sm-size: 13px;
$tags-size: 13px;
$tags-sm-size: 11px;
$bold: 700;
$medium: 500;

* {
  font-family: $font-family;
}

body {
  font-size: $font-size;
  font-weight: $medium;
}

.v-application {
  background-color: $background-color !important;
}

.tags .v-slide-group__content {
  justify-content: flex-end
}

.v-chip.v-size--default {
  font-size: $tags-size !important;
}
