// style
$box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
$border-radius: 4px;

// font
$font-family: 'Spartan';
$font-size: 15px;
$title-size: 18px;
$font-sm-size: 13px;
$font-xs-size: 11px;

* {
  font-family: $font-family;
}

body {
  font-size: $font-size;
}

.v-application {
  background-color: var(--v-background1-base) !important;
}
