.v-chip.v-size--default {
  font-size: $font-sm-size !important;
}

/* Heading */
.heading {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  &-wrapper-parent {
    margin-top: -72px;
  }
  &-wrapper-child {
    min-height: 96px;
  }
}

.close-btn {
  height: 100%;
  width: 32px;
  cursor: pointer;
  background-color: var(--v-primary-base);
  &:hover {
    background-color: var(--v-tertiary-base);
  }
}

.clear-btn {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

/* JobsList */
.list-item {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: #fff;
  &--company {
    font-size: $font-size;
  }
  &--title {
    font-size: $font-lg-size;
    color: var(--v-tertiary-base);
    cursor: pointer;
    &:hover {
      color: var(--v-primary-base);
    }
  }
  &--tag {
    cursor: pointer;
    background-color: var(--v-background2-base) !important;
    color: var(--v-primary-base) !important;
    &:hover {
      background-color: var(--v-primary-base) !important;
      color: #fff !important;
    }
  }
}

// if job is featured
.featured {
  border-left: 5px solid var(--v-primary-base);
}

// avatar position on mobile
.avatar-mobile {
  position: absolute !important;
  top: -24px;
}

// status tags for job
.status-tag {
  font-size: $font-xs-size !important;
}

.breadcrumbs .v-breadcrumbs__item {
  font-size: $font-size;
}

@media only screen and (max-width: 600px) {
  /* Heading */
  .heading-wrapper-child {
    min-height: 60px;
  }

  .clear-btn {
    font-size: $font-sm-size;
  }

  /* JobsList */
  .breadcrumbs li:nth-child(even) {
    padding: 0 4px !important;
  }

  .breadcrumbs .v-breadcrumbs__item {
    font-size: $font-sm-size;
  }

  .list-item {
    &--title {
      font-size: $font-size;
    }
    &--company, &--breadcrumbs {
      font-size: $font-sm-size;
    }
  }
}