/* MainLayout */

.header {
  height: 156px;
  background: var(--v-primary-base) url('/images/bg-header-desktop.svg');
}

@media only screen and (max-width: 375px) {
  .header {
    background-image: url('/images/bg-header-mobile.svg');
  }
}